<div class="tweetfilter">
	Filter tweets:
	<div class="btn-group">
	<button class="btn"><%= link_to 'Mozart', mozart_path %></button>
	<button class="btn"><%= link_to 'Beethoven', beethoven_path %></button>
	<button class="btn"><%= link_to 'Bach', bach_path %></button>
	<button class="btn"><%= link_to 'Brahms', brahms_path %></button>
	<button class="btn"><%= link_to 'Handel', handel_path %></button>
	<button class="btn"><%= link_to 'Stravinsky', stravinsky_path %></button>
	<button class="btn"><%= link_to 'Tchaikosky', tchaikovsky_path %></button>
	<button class="btn"><%= link_to 'WFMT', wfmt_path %></button>
	</div>
</div>